  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500;9..144,700&family=Montserrat:wght@500;700&display=swap');


:root {
    --mobile-width: 375px;
    --desktop-width: 1440px;

    /* Primarios */
    --color-1: hsl(158, 36%, 37%); /*Dark cyan*/
    --color-2: hsl(30, 38%, 92%); /*Cream*/
    /* Neutrales */
    --color-3: hsl(212, 21%, 14%); /* Very dark blue*/
    --color-4:hsl(228, 12%, 48%); /* Dark grayish blue*/
    --color-5:hsl(0, 0%, 100%); /* White*/

    font-size: 14px;
    font-family: "Monsterrat", sans-serif;

}

*{
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

h2 {
    margin: 0;
}


